In [1]:
import pandas as pd
import numpy as np
import requests
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import html5lib
import bs4

## Testing

url = 'https://quickstats.censusdata.abs.gov.au/census_services/getproduct/census/2016/quickstat/POA'+'3762'+'?opendocument'

response = requests.get(url)

response

soup1 = BeautifulSoup(response.text, "html.parser")

soup2 = BeautifulSoup(response.text, "html5lib")

table = soup2.findAll('table', attrs = {'class':'summaryTable qsPeople'})

table

table[0].get_text()

table_groups = soup2.find('table', attrs = {'class':'summaryTable qsPeople'}).findAll('th', attrs = {'scope':'row'})

table_groups

table_groups

table_groups[0].get_text()

table_data = soup2.find('table', attrs = {'class':'summaryTable qsPeople'}).findAll('td', attrs = {'class':'summaryData'})

len(table_data)

table_data[2].get_text()

## Implementation.

In [4]:
postcode= pd.read_csv('D:\Book_Code\postcode_bookcode.csv',dtype='str')

In [6]:
postcode

   POSTCODE             Suburb book Code Location Type State Comments
0      0800             DARWIN      S09Y      Regional    NT      NaN
1      0810         NIGHTCLIFF      S09Y      Regional    NT      NaN
2      0812            LEANYER      S09Y      Regional    NT      NaN
3      0820        STUART PARK      S09Y      Regional    NT      NaN
4      0822          WINNELLIE      S09Y      Regional    NT      NaN
5      0828           BERRIMAH      S09Y      Regional    NT      NaN
6      0829          PINELANDS      S09Y      Regional    NT      New
7      0830               GRAY      S09Y      Regional    NT      NaN
8      0832           ROSEBERY      S09Y      Regional    NT      NaN
9      0834           VIRGINIA      S09Y      Regional    NT      New
10     0835     HOWARD SPRINGS      S09Y      Regional    NT      NaN
11     0836         HUMPTY DOO      S09Y      Regional    NT      NaN
12     0837           NOONAMAH      S09Y      Regional    NT      NaN
13     0838      BERRY SPRINGS      S09Y      Regional    NT      NaN
14     0839         COOLALINGA      S09Y      Regional    NT      NaN
15     0840       DUNDEE BEACH      S09Y      Regional    NT      NaN
16     0841       DARWIN RIVER      S09Y      Regional    NT      NaN
17     0845          BATCHELOR      S09Y      Regional    NT      NaN
18     0846     ADELAIDE RIVER      S09Y      Regional    NT      NaN
19     0847         PINE CREEK      S09Y      Regional    NT      NaN
20     0850     KATHERINE EAST      S09Y      Regional    NT      NaN
21     0852          KATHERINE      S09Y      Regional    NT      NaN
22     0853             TINDAL      S09Y      Regional    NT      NaN
23     0854         BORROLOOLA      S09Y      Regional    NT      NaN
24     0860      TENNANT CREEK      S09Y      Regional    NT      NaN
25     0862      TENNANT CREEK      S09Y      Regional    NT      NaN
26     0870             GILLEN      S10Y      Regional    NT      NaN
27     0872             YULARA      S10Y      Regional    NT      NaN
28     0873  HEAVITREE GAP CPA      S10Y      Regional    NT      NaN
29     0874        MOUNT JOHNS      S10Y      Regional    NT      NaN
30     0875          LARAPINTA      S10Y      Regional    NT      NaN
31     0880          NHULUNBUY      S09Y      Regional    NT      NaN
32     0885          ALYANGULA      S09Y      Regional    NT      NaN
33     0886             JABIRU      S09Y      Regional    NT      NaN

## Take out Postcode array

In [7]:
postcode.dtypes

POSTCODE         object
Suburb           object
book Code        object
Location Type    object
State            object
Comments         object
dtype: object

In [8]:
postcode['POSTCODE']=postcode.POSTCODE.astype('object')

In [9]:
str('2')

'2'

## Create empty lists

In [10]:
population = []
male_per =[]
female_per=[]
median_age = []
post_code=[]

In [11]:
for i in postcode['POSTCODE']:
    try:
        url_list =  'https://quickstats.censusdata.abs.gov.au/census_services/getproduct/census/2016/quickstat/POA'+str(i)+'?opendocument'
        response = requests.get(url_list)
        soup2 = BeautifulSoup(response.text, "html5lib")
        table_data = soup2.find('table', attrs = {'class':'summaryTable qsPeople'}).findAll('td', attrs = {'class':'summaryData'})
        post_code.append(i)
        population.append(table_data[0].get_text())
        male_per.append(table_data[1].get_text())
        female_per.append(table_data[2].get_text())
        median_age.append(table_data[3].get_text())
        print('i')
    except:
        continue

i
i
i
i
i
i
i
i
i
i
i
i
i
i
i
i
i
i
i
i
i
i
i
i
i
i
i
i
i
i
i
i
i
i

In [12]:
## create Dictionary

In [13]:
dict = {'post_code_': post_code, 'population_': population, 'male_per_':male_per, 'female_per_': female_per, 'median_age_': median_age}

In [14]:
data_abs=pd.DataFrame.from_dict(dict)

In [15]:
data_abs.to_csv('D:\Book_Code\postcode_data_abs_part2.csv')